.team__element-description {
    margin: 0 auto;
    padding-top: 10px;
    font-family: 'TT Rationalist';
    font-size: 16px;
    line-height: 19.52px;
    font-weight: 400;
    text-align: center;
}