.option__element-month {
    margin: 0 auto;
    font-family: 'TT Rationalist';
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #B97A50;
    width: 306px;
    padding-top: 5px;
}