.menu_item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    vertical-align:bottom;
    color: black;
}

.menu_item-link:hover {
    color: #B97A50;
}

.menu_item-link:active {
    font-weight: 600;
}