.options__container {
    display: flex;
    margin: 0 auto;
    width: 1107px;
    height: 673px;
    border-radius: 17.5px;
    border: 1.5px solid black;
}

@media screen and (max-width: 480px){
 .options__container {
    flex-direction: column;
    width: 95vw;
    margin: 0 auto;
    height: 2070px;
 }   
}