.about__pic3 {
    width: 248px;
    height: 250px;
    position: relative;
    left:-20vw;
    top:-580px;
    border-radius: 26.26px;
}

@media screen and (max-width: 480px){
    .about__pic3 {
        width: 157px;
        height: 158px;
        left: 16vw;
        top:-35px
    }
}