.about__stamp {
    width: 208px;
    transform: rotate(-6.45deg);
    position: relative;
    left: -49%;
    top:-490px;
}

@media screen and (max-width: 480px){
    .about__stamp {
        width: 131px;
        position: relative;
        top:-110px;
        left:32vw;
    }
}