.terms__offer {
    margin: 40px auto 0 auto;
    width:1107px;
    height: 161px;
    background-color: #B97A50;
    border-radius: 17.5px;
}

@media screen and (max-width: 480px){
    .terms__offer {
        margin: 0 auto;
        margin-top: 24px;
        width: 349px;
        height: 255px;
    }
}