.about__accent {
    position: relative;
    left: 26vw;
    top:290px;
    width: 302px;
    height: 74px;
    z-index: 1;
}
@media screen and (max-width: 480px){
 .about__accent {
    position: relative;
    width: 222px;
    left: 0;
    top:50px;
    z-index: 1;
 }   
}