.form__agree {
    margin: 0 auto;
    padding-left: 82px;
    padding-top: 17px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px){
    .form__agree{
        width: 250px;
        height: 60px;
        padding-left: 2vw;
        padding-top: 0;
        justify-content: space-between;
    }
}