.promo_subtitle {
    margin: 0;
    padding: 7px 899px 35px 0;
    font-family: 'TT Rationalist';
    font-size: 17px;
    line-height: 20.74px;
    width: 294px;
    height: 43px;
    left: 85px;
    bottom: 180px;
}