.footer__text-block {
    margin: 0 auto;
    width: 683px;
    padding-top: 10px;
    height: 35px;
    display: flex;
}
@media screen and (max-width: 480px){
    .footer__text-block{
        width: 85vw;
        justify-content: space-between;
        position: relative;
        top:-4vh
    }
}