.team__line {
    margin: 0 auto;
    width: 1106px;
    height: 1px;
    background-color: black;
}

@media screen and (max-width: 480px){
    .team__line {
        width: 346px;
        padding-top: 0;
    }
}