.header {
    width: 1280px;
    height: 97px;
    margin: 0 auto;
    background-color: #F8F7F2;
}

@media screen and (max-width: 480px){
    .header {
        background-color: white;
        width: 100vw;
        z-index: 3;
        position: fixed;
    }
}