.footer__contact-block-social {
    margin: 0 auto;
    width: 174px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 480px){
    .footer__contact-block-social{
        justify-content: flex-start;
    }
}