.button_header {
    width: 174px;
    height: 34px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    margin: 31px 83px 31px auto;
}

.button_header:hover {
    border: 2px solid #B97A50;
}

.button_header:active {
    border: 2px solid rgba(35, 31, 32, 0.5);
}

@media screen and (max-width: 480px){
    .button_header {
        display: none;
    }
}