.promo {
    height: 516px;
    background-image: url(/images/promo_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 480px){
 .promo {
    margin-top: 97px;
    width: 100vw;
    height: 630px;
    background-image: url(/images/promo_image_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }   
}