.team__container {
    margin: 0 auto;
    padding: 40px 143px 24px 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 998px;
}

@media screen and (max-width: 480px){
    .team__container {
        flex-direction: column;
        width: 218px;
        margin: 0 auto;
        padding: 0;
        padding-top: 40px;
    }
}