.button_footer {
    width: 174px;
    height: 34px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 2px solid black;
    margin: 31px 83px 31px auto;
}

.button_footer:hover {
    border-color: white;
}

@media screen and (max-width: 480px){
    .button_footer {
        margin-bottom: 18px;
    }
}