.about__table-title {
    font-family: 'Tautz';
    text-transform:uppercase ;
    font-size: 28px;
    line-height: 60px;
    color: #B97A50;
    margin: 24px 0 25px 25px;
    border-bottom: 1.5px solid black;
}

@media screen and (max-width: 480px){
 .about__table-title {
    font-size: 24px;
    line-height: 35.4px;
    padding-bottom: 10px;
    padding-top: 10px;
 }   
}