.team__logo-block {
    margin: 0 auto;
    padding-top: 79px;
    padding-bottom: 82px;
    display: flex;
    justify-content: space-between;
    width: 873px;
}

@media screen and (max-width: 480px){
 .team__logo-block {
    flex-direction: column;
    width: 113px;
    padding-top: 25px;
    padding-bottom: 60px;
 }   
}