.team__about-element-text {
    margin: 0 auto;
    width: 340px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'TT Rationalist';
    font-size: 19px;
    line-height: 23.18px;
    font-weight: 400;
}