.team__accent {
    position: absolute;
    top:52%;
    left:43.5%;
    margin: 0 auto;
    width: 176px;
    height: 88px;
}

@media screen and (max-width: 480px){
    .team__accent {
        width: 130px;
        height: 65px;
        left:34vw;
    }
}