.include__accent {
    margin: 0 auto;
    width: 265px;
    height: 74px;
    position: relative;
    left:30vw;
    top:-118px;
}

@media screen and (max-width: 480px){
    .include__accent {
        position: relative;
        width: 187px;
        height: 52px;
        left: 28vw;
        top:-50px;
    }
}