.about__title {
    width: 401px;
    height: 108px;
    font-family: 'Tautz';
    font-weight: 400;
    line-height: 41.3px;
    font-size: 28px;
    color: black;
    text-transform: uppercase;
    padding-top: 234px;
    padding-left: 28vw;
    padding-bottom: 30px;
    margin: 0;
    z-index: 2;
}

@media screen and (max-width: 480px){
 .about__title {
    position: relative;
    padding:0;
    margin-left: 15px;
    width: 324px;
    font-size: 20px;
    line-height: 29.5px;
    margin-bottom: 0;
 }   
}