.terms__offer-text {
    padding: 34.86px 167.34px;
    color: white;
    text-transform: uppercase;
    width: 772px;
    height: 92px;
    font-family: 'Tautz';
    font-size: 20px;
    font-weight: 400;
    line-height: 29.5px;
    text-align: center;
}