.footer__text-item {
    font-family: 'TT Commons';
    font-size: 17px;
    line-height: 19.55px;
    font-weight: 400;
    width: 250px;
}

@media screen and (max-width: 480px){
    .footer__text-item{
        font-size: 14.6px;
        line-height: 16.86px;
        width: 32vw;
    }

}