.button__text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'TT Commons';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 480px){
    .button__text {
        font-size: 14.4px;
    }
}