.option__element-profit {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #B97A50;
    border-radius: 8.75px;
    width: 316px;
    height: 34px;
    font-family: 'TT Rationalist';
    font-size: 19px;
    font-weight: 700;
    color: #B97A50;
}