.terms__element-subtitle {
    margin: 0;
    width: 335px;
    font-family: 'TT Commons';
    font-size: 19px;
    font-weight: 400;
    line-height: 21.85px;
    text-transform: uppercase;
    text-align: center;
}