.form__checkbox {
    width: 37px;
    height: 29px;
    color: transparent;
    border-radius: 8.75px;
    border: 1.5px solid black;
}
@media screen and (max-width: 480px){
    .form__checkbox{
        width: 22px;
    }
}