.team__logo-element {
    margin: 0 auto;
    width: 134px;
    height: 134px;
}
.team__logo-element:first-of-type {
    height: 138px;
}

@media screen and (max-width: 480px){
    .team__logo-element{
        width: 113px;
        height: 113px;
        padding-top: 23px;
    }
    .team__logo-element:first-of-type{
        height: 117px;
        padding-top: 0;
    }
}