.team__image {
    margin: 0 auto;
    width: 253px;
    height: 380px;
    border-radius: 26.26px;
}

@media screen and (max-width: 480px){
    .team__image{
        width: 218px;
        height: 327px;
    }
}