.team__subtitle {
    margin: 0 auto;
    padding-top: 49px;
    width: 739px;
    height: 71px;
    font-family: 'TT Rationalist';
    font-size: 20px;
    line-height: 24.4px;
    font-weight: 700;
    text-align: center;
}