.promo_title {
    margin: 0;
    width: 671px;
    height: 164px;
    font-family: 'Tautz';
    font-size: 40px;
    line-height: 59px;
    font-weight: 400;
    text-transform: uppercase;
    color: #B97A50;
}

@media screen and (max-width: 480px){
    .promo_title {
        font-size: 23px;
        line-height: 33.93px;
        width: 343px;
        height: 130px;
        margin-top: 274px;
        margin-left: 15px;
        margin-bottom: 0;
    }
}

@media screen and (min-width:481px) {
    .promo_title br {
        display: none;
    }
}