.about__subtitle {
    width: 427px;
    height: 49px;
    font-family: 'Tautz';
    font-size: 12px;
    line-height: 17.7px;
    text-transform: uppercase;
    color: #B97A50;
    padding-top: 0;
    padding-left: 28vw;
    padding-bottom: 30px;
    margin: 0;
}
@media screen and (max-width: 480px){
    .about__subtitle {
        width: 337px;
        font-size: 11px;
        line-height: 16.55px;
        margin-left: 15px;
        margin-top: 0;
        padding-left: 0;
    }
}