.about__subtitle {
    width: 427px;
    height: 49px;
    font-family: 'Tautz';
    font-size: 12px;
    line-height: 17.7px;
    text-transform: uppercase;
    color: #B97A50;
    margin: 0 491px 30px 361px;

}