.footer__contact-block {
    padding: 26px 86px 50px 80px;
    width: 174px;
    margin: 0 auto;
}

@media screen and (max-width: 480px){
    .footer__contact-block{
        position: relative;
        top:-26vh;
        left: 20vw;
        height: 85px;
    }
}