.form__agree-text {
    width: 700px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.1px;
}

@media screen and (max-width: 480px){
 .form__agree-text {
    width: 210px;
    height: 47px;
    font-size: 11.3px;
    line-height: 13px;
 }   
}