.form__title {
    margin: 0 auto;
    padding: 86px 267px 50px 82px;
    width: 767px;
    height: 67px;
    font-family: 'Tautz';
    font-weight: 400;
    font-size: 28px;
    line-height: 41.3px;
    text-transform: uppercase;
}

@media screen and (max-width: 480px){
 .form__title {
    margin: 0;
    width: 322px;
    height: 72px;
    font-size: 18px;
    line-height: 26.55px;
    padding: 70px 11px 40px 11px;
    text-align: center;
 }   
}