.options__element-image {
    margin: 0 auto;
    min-width: 358px;
    min-height: 239px;
    padding-top: 26px;
}

@media screen and (max-width: 480px){
    .options__element-image {
        width: 360px
    }   
}