.about__table-element {
    width: 370px;
    border-right: 1.5px solid black;;
}

.about__table-element:last-of-type {
    border-right: none;
}

@media screen and (max-width: 480px){
 .about__table-element {
    border-right: none;
    border-bottom: 1.5px solid black;
    width: 95vw;
 }   
 .about__table-element:last-of-type {
    border-bottom: none;
 }
}