.team__element-title {
   margin: 0 auto;
   padding-top: 26px;
   font-family: 'Tautz';
   font-size: 19px;
   line-height: 28.03px;
   font-weight: 400;
   text-align: center;
   text-transform: uppercase; 
}

@media screen and (max-width: 480px){
   .team__element-title {
      padding-top: 23px;
   }
}