.menu {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 691px;
    height: 11px;
    margin: 43px 0;
    padding: 0;
}

@media screen and (max-width:480px) {
    .menu {
        display: none;
    }
}

.menu_item {
    margin-right: 18px;
    margin-left: 18px;
    font-family: 'TT Commons';
}

.menu_item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    vertical-align:bottom;
    color: black;
}

.menu_item-link:hover {
    color: #B97A50;
}

.menu_item-link:active {
    font-weight: 600;
}

@media screen and (max-width: 480px){
  .menu_item-link{
    font-size: 26px;
  }  
}

.menu_devider {
    height: 11px;
    width: 1px;
    margin: 0;
    border-right: 2px solid black;
}

.menu__hamburger {
    cursor: pointer;
    border: none;    
    background: transparent url(/images/hamburger_menu_icon.svg) center no-repeat;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 36px;
}

.menu__hamburger:hover {
    opacity: .8;
}

@media screen and (max-width: 480px){
   .menu__hamburger {
    margin-top: 32px;
    margin-right: 15px;
   }
}

@media screen and (min-width:481px) {
    .menu__hamburger {
        display: none;
    }
}

.menu__mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 50px;
}

.menu__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;    
    background: transparent url(/images/menu_close.svg) center no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    transition: 0.3s ease;
}

.menu__close:hover {
    opacity: .6;
}

.menu__mobile-element {
    font-family: 'TT Commons';
    height: 40px;
}

.menu__popup {
    background-color: white;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0px;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.6s, visibility 0s 0.6s;
}

.menu__popup_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.6s;
}